<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/contact.jpg');">

      </div>
      <div class="container">
        <div class="content-center brand" *ngIf="globals.lang == 'en'">
            <p class="h1-seo" style="font-weight: 900;font-size: 3.8em;">CONTACT US</p>
            <ol class="col-6 breadcrumb center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">Contact Us</li>
            </ol>
        </div>
        <div class="content-center brand" *ngIf="globals.lang == 'tr'">
          <p class="h1-seo" style="font-weight: 900;font-size: 3.8em;">Bize ulaş</p>
          <ol class="col-6 breadcrumb center">
            <li class="breadcrumb-item"><a routerLink="/">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Bize ulaş</li>
          </ol>
      </div>
      </div>

  </div>

  <div *ngIf="globals.lang == 'en'" class="main" style="padding-bottom: 50px">
    <div class="container" style="padding-top: 100px;">
      <div class="row">
        <div class="col-md-3">
          <p class="p-contact">
              Central Office
          </p>
          <p class="central-p">
              Our central office is the base for our administration and finance.
              It is located on <strong>Gaziantep, 27090, Sehitkamel, Gazimuhtarbasa Blv, İncilipınar Mah, Kalyon Business center. Flor 6 offices 44, Tax No/ Gazikent 8591043413</strong>, and is easily accessible by public transport.
          </p>
          <ul class="central-ul">
            <li>
              <i class="fa fa-phone"></i>
              <a href="tel:+905533967396" placement="top" ngbTooltip="Akram Kahrman">+90 553 396 7396</a>
            </li>
            <li>
              <i class="fas fa-envelope"></i>
              <a href="mailto:office@transpass.aero">office@transpass.aero</a>
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://www.google.com/maps/place/Kalyon+%C4%B0%C5%9F+Mer./@37.0682227,37.3687811,20z/data=!4m12!1m6!3m5!1s0x1531e14430259ee9:0xfac3c42e9b6bd921!2zS2FseW9uIMSwxZ8gTWVyLg!8m2!3d37.068212!4d37.3688209!3m4!1s0x1531e14430259ee9:0xfac3c42e9b6bd921!8m2!3d37.068212!4d37.3688209" target="_blank">
                Turkey - Gaziantep
              </a>
            </li>
          </ul>
          <ul class="social center" style="padding-left:0px">
            <div class="row">
              <li class="center">
                  <a class="facebook" href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li class="center">
                  <a class="twitter" href="https://twitter.com/TranspassC"><i class="fab fa-twitter-square"></i></a>
              </li>
              <li class="center">
                  <a class="instagram" href="https://www.instagram.com/t.a.s.b737/?hl=en"><i class="fab fa-instagram"></i></a>
              </li>
            </div> 
          </ul>
        </div>
        <div class="col-md-3 ml-auto">
          <div style="margin-bottom: 5%">
            <p class="p-contact">
                Opening Hours
            </p>
          </div>
          <ul class="ltx-hours">
            <li>
              <strong> Monday: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Tuesday: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Wednesday: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Thursday: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Friday: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Saturday: </strong>
              <strong>11:00 – 16:00</strong>
            </li>
            <li>
              <strong> Sunday: </strong>
              <strong>CLOSED</strong>
            </li>
          </ul>
        </div>
        <div class="col-md-4 ml-auto">
            <img src="assets/img/aircraft.jpg" alt="" class="img-raised">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="globals.lang == 'tr'" class="main" style="padding-bottom: 50px">
    <div class="container" style="padding-top: 100px;">
      <div class="row">
        <div class="col-md-3">
          <p class="p-contact">
            Merkez Ofisimiz
          </p>
          <p class="central-p">
              Merkez ofisimiz, yönetim ve finansımızın temelidir.
              <strong>Gaziantep, 27090, Şehitkamil, Gazimuhtarpaşa Blv, İncilipınar Mah, Kalyon İş merkezleri. Kat 6 Ofis 44, Vergi No/ Gazikent 8591043413</strong>, bulunur ve toplu taşıma araçları ile kolayca erişilebilir.
          </p>
          <ul class="central-ul">
            <li>
              <i class="fa fa-phone"></i>
              <a href="tel:+905533967396" placement="top" ngbTooltip="Akram Kahrman">+90 553 396 7396</a>
            </li>
            <li>
              <i class="fas fa-envelope"></i>
              <a href="mailto:office@transpass.aero">office@transpass.aero</a>
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://www.google.com/maps/place/Kalyon+%C4%B0%C5%9F+Mer./@37.0682227,37.3687811,20z/data=!4m12!1m6!3m5!1s0x1531e14430259ee9:0xfac3c42e9b6bd921!2zS2FseW9uIMSwxZ8gTWVyLg!8m2!3d37.068212!4d37.3688209!3m4!1s0x1531e14430259ee9:0xfac3c42e9b6bd921!8m2!3d37.068212!4d37.3688209" target="_blank">
                Türkiye - Gaziantep
              </a>
            </li>
          </ul>
          <ul class="social center" style="padding-left:0px">
            <div class="row">
              <li class="center">
                  <a class="facebook" href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li class="center">
                  <a class="twitter" href="https://twitter.com/TranspassC"><i class="fab fa-twitter-square"></i></a>
              </li>
              <li class="center">
                  <a class="instagram" href="https://www.instagram.com/t.a.s.b737/?hl=en"><i class="fab fa-instagram"></i></a>
              </li>
            </div> 
          </ul>
        </div>
        <div class="col-md-3 ml-auto">
          <div style="margin-bottom: 5%">
            <p class="p-contact">
              Açılış saatleri
            </p>
          </div>
          <ul class="ltx-hours">
            <li>
              <strong> Pazartesi: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Salı: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Çarşamba: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Perşembe: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Cuma: </strong>
              <strong>9:00 – 17:00</strong>
            </li>
            <li>
              <strong> Cumartesi: </strong>
              <strong>11:00 – 16:00</strong>
            </li>
            <li>
              <strong> Pazar: </strong>
              <strong>KAPALI</strong>
            </li>
          </ul>
        </div>
        <div class="col-md-4 ml-auto">
            <img src="assets/img/aircraft.jpg" alt="" class="img-raised">
        </div>
      </div>
    </div>
  </div>
</div>
