.separator-primary {
    background-color: #888888;
}
.title {
    font-family: 'Prata';
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0.02em;
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
}
.section-story-overview .image-container {
    height: 600px;
}

@media screen and (min-width: 768px){
    .image-container.image-right {
        top: -165px;
        margin-bottom: 0px !important;
    }
}
@media screen and (max-width: 768px) {
    .image-container.image-left {
        margin-bottom: 0px;
    }
}

img {
    border-radius: 5px;
    margin-bottom: 3%;
    margin-top: 6%;
}
.h4-name {
    text-align: center;
    font-weight: 600;
    margin-top: 10px; 
}
.title {
    font-weight: 900;
}
.description {
    color: #474747;
}
.swiper {
    height: 300px;
    width: 400px;
}